@use "../mixins/";

$font: 'Montserrat',
sans-serif;

$font-color: #1f373d;


@mixin display {
    display: flex;
    max-width: 1920px;
    padding-left: 400px;
    padding-top: 26px;
    padding-bottom: 26px;
}

header {
    @include display;
    justify-content: space-between;
    align-items: center;
    justify-content: flex-start;
}

header .header--left-side {
    font-family: $font;
    color: $font-color;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: -1px;
    margin: 8px 213px 0 8px;

}

header .header--middle--nav {
    font-family: $font;
    color: $font-color;
    font-weight: 400;
    margin-top: 16px;
    align-items: flex-start;
    justify-content: flex-start;

}

.header--middle {
    nav a {
        margin: 17px;
    }


}

header .header--middle {
    nav a:last-of-type {
        margin-left: 83px;
        margin-right: 22px;
    }

}

header .header--right {
    font-family: $font;
    color: $font-color;
    font-size: 13px;
    font-weight: 400;
    width: 145px;
    height: 40px;
    background-color: #ffcc01;
    border-radius: 5px;
    text-align: center;
    align-items: center;


}

header .header--right--nav {
    margin-top: 15px;
}