@use "../mixins/";

$font: 'Montserrat',
sans-serif;

$font-color: #1f373d;

section .search {
    display: flex;
    max-width: 1920px;
    position: relative;
    font-family: $font;
}

section h2{
    display: flex;
    font-family: $font;
    font-size: 62px;
    font-weight: 600;
    letter-spacing: -2px;
    line-height: 78px;
    color: $font-color;
    margin-left: -202px;
    margin-top:178px ;
    max-width: 70%;
}

section .search--layout{
    display: flex;
    margin-left: 612px;
    width: 960px;
    height: 630px;
    background-color: #96bece;
    position: absolute;
    top:93px;
}



section .search--layout--input input {
    width: 480px;
    height: 70px;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 15px;
    letter-spacing: 0px;
    color:#919eb1;
    font-weight: 400;
    font-family: $font;
    padding-left:58px ;
    position: absolute;
    left: -206px;
    top: 340px;
    border: none;
}

section .search--layout--input img {
    position: absolute;
    left: -178px;
    top: 368px;
}

section .search--layout--input button {
    font-family: $font;
    letter-spacing: 0px;
    color: #1f373d;
    font-weight: 500;
    position:absolute;
    left: 159px;
    top:340px;
    width: 115px;
    height: 70px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #ffcc01;
   
}


section .search--layout--adress{
    font-family: $font;
    width: 590px;
    height: 80px;
    background-color: #ffcc01;
    position:absolute;
    bottom: 0;
    right:0;
}

section .search--layout--adress button {
    font-family: $font;
    font-size: 18px;
    color:#1f373d;
    font-weight: 600;
    background-color: #ffcc01;
    position: absolute;
    top:31px;
    right:348px;
}

section .search--layout--adress div {
    font-size: 18px;
    letter-spacing: 0;
    color:#1f373d;
    font-weight: 600;
    position: absolute;
    top:31px;
    right: 56px;
}

.search--layout--adress img {
    position:absolute;
    right:508px;
    bottom:27px;
}

.search--layout--adress img:last-of-type {
    right:262px;
    bottom:26px;
}

.search--layout--scroll {
    font-family: $font;
    
}

.search--layout--scroll div{
    font-size: 12px;
    letter-spacing: 0;
    color:#919eb1;
    font-weight: 500;
    position: absolute;
    left:-220px;
    bottom: 75px;
    transform: rotate(270deg);

}

.search--layout--scroll img {
    position: absolute;
    bottom: 0;
    left: -192px;
    width: 12px;
    height: 28px;
}