table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 150px;
    height: 50px;
}

.pirmas {
    background: red;
}

.antras {
    background: blue;
}

.trecias {
    background: green;
}

.ketvirtas {
    background: grey;
}

.penktas {
    background: yellow;
}