.events {
    margin:auto;
    max-width: 1440;
    margin-bottom: 64px;
}

.events article {
    display: flex;
    padding: 26px 26px 26px 54px;
    margin-left: 76px;
    margin-right: 68px;
    box-shadow: 10px 10px 31px 0px rgb(0,0,0,0.17) ;
    background-color: #ffffff;
    position: relative;
}

.right-discover img {
    margin-left: 45px;
}

.left-discover h3 {
    font-size: 29px;
    letter-spacing: 2px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 700;
    color: #3d3d3d;
    margin-top: 38px;
    margin-bottom: 10px;
}

.left-discover h2 {
    font-size: 42px;
    color: #3d2514;
    font-weight: 400;
    font-family: 'Alfa Slab One', cursive;
    text-transform: uppercase;
    margin-bottom: 44px;
}

.left-discover p{
    font-size: 21px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: #3d3d3d;
    line-height: 1.5;
}

.left-discover ul {
    position: absolute;
    bottom: 38px;

}

.left-discover li {
    width: 18px;
    height: 18px;
    border-radius: 8px;
    background-color: #dcdcdc;
    display: inline-block;
}

.left-discover li:first-child {
    background-color: #ffc045;
}

.left-discover li:hover {
    background-color: #ffc045;
    border-radius: #3d2514;
}