@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import './theme';
@import './utility';

body {
    font-family: 'Montserrat', sans-serif;
    color: $text-color;
}


// _________________________HEADER PRADZIA___________________________

.header {
    @include flex-layout(space-between, center);
    padding: 26px 18px;

}


.header__navigation {
    @include flex-layout(flex-start, center);


    .header__navigation-menu {
        position: relative;
        order: 0;
    }
}

.header__burger-menu {
    width: 32px;
    height: 32px;
    margin-left: 48px;
    cursor: pointer;
}


.header__navigation-link {

    font-size: 13px;
    color: $text-color;
    font-weight: 400;
    margin: 17px;

    // &:last-of-type {
    //     margin-right: 83px;
    // }
}







.header__getting-started-wrapper {
    display: none;

    .header__navigation-link {
        font-size: 13px;
        font-weight: 400;
        color: $text-color;
        margin-right: 22px;
    }

    .header__button {
        border-radius: 5px;
        background: $primary;
        font-size: 13px;
        font-weight: 400;
        padding: 13px 24px 15px
    }
}

@media (min-width: 500px) {
    .header__getting-started-wrapper {
        display: block;
    }
}


@media (max-width:$desktop) {

    .header__navigation-links {
        display: none;
        position: absolute;
        top: 40px;
        right: 0;
        border: 1px solid $border-color;
        border-radius: $border-radius;

    }

    &:focus,
    &:focus-within {
        .header__navigation-links {
            @include flex-layout;
            flex-direction: column;

            a:hover {
                border-bottom: 2px 2px 2px solid black;
            }
        }
    }
}

@media (min-width: $desktop) {
    .header__burger-menu {
        display: none;
    }

    .header__navigation-links a:last-of-type {
        margin-right: 83px;
    }

}


// _________________________HEADER PABAIGA___________________________


// _________________________SEARCH PRADZIA____________________________


.search {
    position: relative;
    padding: 0 18px;
}

.search__container {

    h2 {
        // font-size: 62px;
        // line-height: 78px;
        font-size: 32px;
        letter-spacing: -2px;
        line-height: 1.3;
        font-weight: 600;
        color: $text-color;
        max-width: 90%;
        position: absolute;
        margin: 24px auto 24px 0;

    }

    .search__input-wrapper {
        @include flex-layout(flex-start, center);
        border-radius: 5px;
        position: absolute;
        left: 5%;
        transform: translateX(0%);
        top: 50%;
        transform: translateY(-50%);

        img {
            // padding:28px 13px 28px 28px ;
            left: 14px;
            position: absolute;

        }

        input {
            // padding: 28px 30px 32px 0;
            padding: 18px 20px 20px 45px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            font-size: 15px;
            font-weight: 400;
            color: $tertiary;

        }

        button {
            // padding: 28px 34px 32px;
            padding: 18px 26px 20px;
            font-size: 15px;
            color: $text-color;
            background-color: $primary;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            font-weight: 500;
        }
    }
}


.search__blue-box {
    @include flex-layout(center, center);
    align-items: flex-end;
    width: 90%;
    background: $secondary;
    height: 330px;
    margin-left: 5%;

    .search__contacts {
        @include flex-layout(center, flex-start);
        flex-direction: column;
        padding: 12px 24px 0;
        // height: 80px;
        background: $primary;
        width: 100%;

        .search__contact {
            margin-bottom: 16px;

            img {
                margin-right: 15px;

            }


            span {
                font-size: 18px;
                letter-spacing: 0;
                color: $text-color;
                font-weight: 600;
            }
        }

    }
}

.search__scroll-down {
    @include flex-layout(flex-start, center);
    flex-direction: column;
    position: absolute;
    left: -15px;
    bottom: -20px;

    div {
        font-size: 12px;
        letter-spacing: 0px;
        color: $tertiary;
        font-weight: 500;
        transform: rotate(-90deg);
    }

    img {
        color: $tertiary;
        margin-top: 50px;

    }
}



@media (min-width: 450px) {
    .search__container {
        h2 {
            width: 320px;
            position: absolute;
            top: 10%;
            font-size: 35px;
        }
    }
    .search__blue-box {
        height: 430px;
    }
}

@media (min-width: $tablet) {
    .search__container {
        h2 {
            position: absolute;
            top: 130px;
            width: 680px;
            font-size: 62px;
            line-height: 78px;


        }

        .search__input-wrapper {
            margin-top: 86px;

            img {
                position: absolute;
                left: 20px;
            }

            input {
                padding: 28px 30px 32px 58px;

            }

            button {
                padding: 28px 34px 32px;

            }
        }
    }

    .search__blue-box {

        height: 630px;
        width: 82%;
        margin-left: 18%;

        .search__contacts {
            flex-direction: row;
            width: auto;
            padding: 27px 58px 26px;
            position: absolute;
            right: 18px;


            .search__contact {
                margin-bottom: 0;
                @include flex-layout(flex-end, flex-end);

                img {
                    margin-right: 32px;

                }


            }

            .search__contact:first-of-type {
                margin-right: 63px;
            }
        }
    }

    .search__scroll-down {

        left: 5%;
        bottom: 0;
    }

}