.title h4 { 
    padding: 22px 17px 13px 22px;
    margin-left: 608px;
    margin-right: 608px;
    font-weight: 700;
    font-family: "Bebas Neue";
    color: #3d2514;
    font-size: 25px;
    display: flex;
    justify-content: center;
    background:url(./assets/rectangle.png)   ;
    margin-bottom: 27px;
}

.textas h3 {
    font-size: 50px;
    line-height: 38px;
    font-family: "Alfa Slab One";
    color: #3d2514;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin-bottom: 31px;
}

.textas2 h2 {
    font-size: 17px;
    line-height: 29px;
    color: #3d2514;
    font-family: "Montserrat";
    font-weight: 400;
    text-align: center;
    justify-content: center;
    margin-left: 192px;
    margin-right: 192px;
}

